* {
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    gap: 1em;
    background-color: lightgrey
}

.card {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    margin: 1em;
    height: 200px;
    width: 300px;
    background-color: white;
}